<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/search.css">
    <title>Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script>
    var app=angular.module("searchApp",[]);
    app.controller("search",function($scope,$http){
        $scope.searchfield="";
        $scope.view="";
        $http.get("data/db.json")
        .then(function(response){
            $scope.datas=response.data;
        });
        $scope.show=function(data){
            if(data.coursename.toLowerCase().includes($scope.searchfield.toLowerCase())){
                return data;
            }
        };
        $scope.gridview=function(){
            if($scope.view=="grid")
                return true;
        };
        $scope.listview=function(){
            if($scope.view=="list")
                return true;
        }
        
    });
</script>
<body ng-app="searchApp" ng-controller="search">
    <header>
        <a href="home.html">
            <img src="images/logo.png" alt="Logo">
            </a>
            <h1> Coursewhere </h1>
    </header>
    <div class="search">
        <p>Search</p>

        <input type="text" placeholder='Enter the course name' ng-model="searchfield">
    </div>
    <select name="view" id="view" ng-model="view">
        <option value="list">List</option>
        <option value="grid">Grid</option>
    </select>
    {{view}}

    <div class="grid-container" ng-show="gridview()">
        <div class="grid-item" ng-repeat="data in datas |filter: show" >
            <p>{{data.coursename}}</p>
            
            <img src="{{data.image}}" alt="{{data.coursename}} Logo">
            
            <a href="{{data.link}}" target="_blank">Click here</a>
        </div>

    </div>
    <div class="list-container" ng-show="listview()">
        <div class="list-item" ng-repeat="data in datas |filter: show" >
            <p>{{data.coursename}}</p>
            
            <img src="{{data.image}}" alt="{{data.coursename}} Logo">
            
            <a href="{{data.link}}" target="_blank">Click here</a>
        </div>

    </div>
    <!-- <div class="grid-container">
        <div class="grid-item" ng-repeat="data in datas" >
            <p>{{data.coursename}}</p>
            
            <img src="{{data.image}}" alt="{{data.coursename}} Logo">
            
            <a href="{{data.link}}" target="_blank">Click here</a>
        </div>

    </div> -->
</body>
</html>