body{
    display: block;
    margin: 0px;
    background-color: #ece7fa;
}

header{   
    background-color: #d4c8fa;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 80px;
    padding: 10px;
    border: 10px;
    align-items: center;
}
header img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 10px;
    margin: 1px;
}

header h1{
    text-align: center;
    color: #6b3eff;
    margin-left: 38%;
    font-family: Helvetica, sans-serif;
    margin-right: 20%;
}

.loginbox{
    display: block;
    background: #f4f2f5;
    background-clip: padding-box;
    margin: 10% 30%;
    padding: 1% 1%;
    height: auto;
}

.loginbox h1{
    text-align: center;
    color: #6b3eff;
    font-family: Helvetica, sans-serif;
}

.loginbox table{
    margin-top: auto;
    width: 80%;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #faf8ff;
}

.loginbox table td{
    padding: 10% 7%;
}

.loginbox label{
    color: #6b3eff; 
    font-size: larger;
    font-family: Helvetica, sans-serif;
}
.loginbox input{
    width: 100%;
    padding: 12px 5px;
}

.loginbox input[type="submit"]{
    width: 50%;
    margin: 5% 30%;
}









