body{
    display: block;
    margin: 0px;
    background-color: #eeeeee;
}

header{   
    background-color: #d4c8fa;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 80px;
    padding: 10px;
    border: 10px;
    align-items: center;
}
header img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 10px;
    margin: 1px;
}

header h1{
    text-align: center;
    color: #6b3eff;
    margin-left: 38%;
    font-family: Helvetica, sans-serif;
    margin-right: 20%;
}

.registerbox{
    display: block;
    background: #f8f5fe;
    background-clip: padding-box;
    margin: 10% 30%;
    padding: 1% 1%;
    height: auto;
    border: solid ;
    border-width: 75px;
    border-color: #f8f5fe;
}

.registerbox h1{
    text-align: center;
    color: #6b3eff;
    font-family: Helvetica, sans-serif;
}

.registerbox table{
    margin-top: auto;
    width: 80%;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;

    background-color: #f8f5fe;
    
}

.registerbox table td{
    padding: 10% 7%;
}

.registerbox label{
    color: #6b3eff; 
    font-size: larger;
    font-family: Helvetica, sans-serif;
}
.registerbox input{
    width: 100%;
    padding: 12px 5px;
    
}

.registerbox input[type="submit"]{
    width: 25%;
    margin: 5% 40%;
    background-color: #5D3F6A;
    color: white;
}



.registerbox input:hover[type="submit"]{
    background-color: #6b3eff;
}





